<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">

	  <meta name="description" content="Trailer Monkeys! Your one stop trailer shop for Hollywood, Bollywood, Tollywood and Kollywood">

      <meta name="author" content="">
      <title>Trailer Monkeys</title>
      <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
      <link href="../../../css/bootstrap.min.css" rel="stylesheet">
      <!-- Custom CSS -->
      <!--           <link href="css/freelancer.css" rel="stylesheet">
         -->
      <!-- Custom Fonts -->
      <link href="../../../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
      <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
      <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->

	   {{#movies}}

	   <meta name="twitter:card" content="summary" />
	   <meta name="twitter:site" content="@trailerMonkeys" />
<meta name="twitter:creator" content="@trailerMonkeys" />

<meta name="twitter:title" content="Trailer Monkeys ">
<meta name="twitter:description" content="One stop shop for trailers">
<meta name="twitter:image" content="http://img.youtube.com/vi/{{youtubeid}}/0.jpg">

	  <meta property="og:type" content="website" />

<meta property="og:title" content="{{name}}" />

<meta property="og:site_name" content="Trailer Monkeys"/>


 <meta property="og:url" content="http://www.trailermonkeys.com/movie/{{youtubeid}}/{{autoplay}}/{{encodedName}}" />


<meta property="og:description" content="{{name}}" />


<meta property="og:locale" content="en_US" />

<meta property="og:image" content="http://img.youtube.com/vi/{{youtubeid}}/0.jpg" />

 {{/movies}}
</head>



   <body id="page-top" class="index">


  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=113465035651418";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

</script>





      <!-- Navigation -->
      <nav >
         <div class="container">
         <!-- Brand and toggle get grouped for better mobile display -->
         <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
             <a class="navbar-brand" href="/" style="padding:0px;margin:0px;">
<img src="../../../images/tmlogo.PNG" width="120px">
            </a >
         </div>
       <form name="sentMessage" id="contactForm" action="/search" method="GET" class="row">
            <div class="row" >
               <div class="input-group center-text" style="margin-top:10px;">
                  <input type="text" class="form-control" placeholder="Search" name="search" id="q" size="80%" style=" border: 0px; ">
               </div>


         </div>

         </form >
         <!-- /.container-fluid -->
      </nav>

         <!-- Fixed navbar -->
    <nav class="navbar navbar-default ">
      <div class="container">
        <div class="navbar-header">
           <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
<!--           <a class="navbar-brand" href="#">Project name</a>
 -->        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
			          <li><a href="/lang/5">English</a></li>
          <li><a href="/lang/3">Hindi</a></li>
            <li><a href="/lang/1">Telugu</a></li>
            <li><a href="/lang/2">Tamil</a></li>
            <li><a href="/lang/6">Kannada</a></li>
            <li><a href="/lang/7">Malayalam</a></li>
<!--             <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Latest <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
               {{#movies}}
                <li><a href="#">{{name}}</a></li>
                {{/movies}}

              </ul>
            </li> -->
          </ul>

        </div><!--/.nav-collapse -->
      </div>
    </nav>
      <!-- Header -->
      <!--       <header>      </header>
         -->
      <!--       <div class="jumbotron masthead"  >
         -->
      <!-- Carousel
         ================================================== -->


    <div class="container" id="Tollywood">
      <div class="row">
          <div class="col-sm-6">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- Trailer monkeys -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-0173568077715122"
                 data-ad-slot="3956480277"
                 data-ad-format="auto"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
      </div>
      <div class="col-sm-6">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Trailer monkeys -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-0173568077715122"
             data-ad-slot="3956480277"
             data-ad-format="auto"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>

      </div>

         {{#movies}}
          <h4 >
            <span class="fa-stack fa-md">
            <i class="fa fa-circle fa-stack-2x" style="color:#BD362F;"></i>
            <i class="fa fa-film fa-stack-1x fa-inverse"></i>
            </span>  {{name}}
         </h4>
         <div class="col-sm-8 portfolio-item">

            <div class="thumbnail1 ">
						<link rel="image_src" href="http://img.youtube.com/vi/{{youtubeid}}/0.jpg"/>

                        <iframe src="https://www.youtube.com/embed/{{youtubeid}}?{{autoplay}}&rel=0&fs=1" height=70% width=100% allowfullscreen></iframe><br>
        </div>



        <!-- a href="https://twitter.com/intent/tweet?text=Check%20out%20the%20trailer%20for%20%22{{name}}%22%20on%20TrailerMonkeys.com%20&url=http%3A%2F%2Fwww.trailermonkeys.com%2Fmovie%2F{{youtubeid}}%2F" title="Share on Twitter" target="_blank" class="btn btn-twitter btn-xs"><i class="fa fa-twitter"></i> Tweet</a -->
                   <!-- Facebook -->

				   <div class="btn-group">



				  <button class="btn btn-link">
				   <!--a href="https://twitter.com/share" class="twitter-share-button" data-url="http://http://www.trailermonkeys.com/movie/{{youtubeid}}/autoplay=0/{{name}}" data-via="trailerMonkeys" data-count="none">Tweet</a-->


				   <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.trailermonkeys.com/movie/NDEExEhvk1Y/autoplay=0/Bajirao%20MastaniTeaser" data-text="{{name}}" data-via="trailerMonkeys" data-hashtags="trailers,movies">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
if(!d.getElementById(id)){js=d.createElement(s);
js.id=id;js.src=p+'://platform.twitter.com/widgets.js';
fjs.parentNode.insertBefore(js,fjs);
}}(document, 'script', 'twitter-wjs');</script>


				</button>



			<button class="btn btn-link">



			<div class="fb-like" data-href="http://www.trailermonkeys.com/movie/{{youtubeid}}/{{autoplay}}/{{encodedName}}" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>

		</button>

			</div>
<br>
            {{#description}}
            Description:<br>
            {{.}}<br><br>
            {{/description}}

            {{#monkeysTake}}
            Monkeys take:<br>
            {{.}}<br><br>
            {{/monkeysTake}}

            {{#storyPrediction}}
            Story Predction:<br>
            {{.}}<br><br>
            {{/storyPrediction}}

        </div>


                      <div class="col-sm-4 sidebar pull-right">



                                           <!--h4 class="sidebar-heading">Social Media</h4>
          <center>
                                           <ul class="list-inline">
                                  <li>
                                     <a href="https://www.facebook.com/trailermonkeyss" target="_blank"  class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                                  </li>
                                  <li>
                                     <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                                  </li>
                                  <li>
                                     <a href="https://twitter.com/trailerMonkeys" target="_blank"  class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                                  </li>
                                  <li>
                                     <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                                  </li>
                                  <li>
                                     <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-dribbble"></i></a>
                                  </li>
                               </ul>
                           </center-->
                             {{#wikiData}}
                             <h4 class="sidebar-heading">Movie Details</h4>
                             {{/wikiData}}
                             {{#wikiData}}
                             {{{.}}}
                             <br>

                            {{/wikiData}}



                          <!-- {{#relatedVideo}}
                          <h4 class="sidebar-heading">Related Videos</h4>
                          {{/relatedVideo}}
                          {{#relatedVideos}}
                          <a href="/movie/{{.}}/autoplay=0/{{name}}" class="portfolio-link" data-toggle="modal" >
                          <img src="http://img.youtube.com/vi/{{.}}/0.jpg" class="img-responsive">
                          </a>
                          <br>
                          {{/relatedVideos}} -->



                      </div>

                      <div class="col-sm-8">

                        {{#hasRelatedMovies}}
                        <h4 >
                           <span class="fa-stack fa-md">
                           <i class="fa fa-circle fa-stack-2x" style="color: rgb(231, 55, 55);"></i>
                           <i class="fa fa-film fa-stack-1x fa-inverse"></i>
                         </span> Related Videos
                        </h4>
                        {{#relatedMovies}}
                        <div class="col-sm-3 portfolio-item">
                           <div class="thumbnail1">
                             <a href="/movie/{{youtubeid}}/autoplay=0/{{name}}" > <img src="http://img.youtube.com/vi/{{youtubeid}}/0.jpg" class="img-responsive"></a>
                           </div>
                           <div class="caption">
                              {{name}}
                           </div>
                        </div>
                        {{/relatedMovies}}
                        {{/hasRelatedMovies}}


                      </div>

					  <div class="col-sm-8">
					  <center>


						<!-- div class="fb-comments" data-href="https://developers.facebook.com/tools/comments/113465035651418/" data-numposts="5" data-colorscheme="light"></div --->



						<div class="fb-comments" data-href="http://trailermonkeys.com/movie/{{youtubeid}}/{{autoplay}}/{{name}}" data-colorscheme="light" data-numposts="5"></div>
						</center>
						</div>

						</div>

                   </div>



					<!--
					 </div>

					  <div> -->



            {{/movies}}

</div>



      <!--    // </div>    </div>
         -->      <!-- /.carousel -->
      <!-- About Section -->
      <!-- Contact Section -->
      <!-- Footer -->
 <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Tags</h3>
                        <span class="label label-success">Movies</span>
                        <span class="label label-success">Actors</span>
                        <span class="label label-success">Trailers</span>
                        <span class="label label-success">English trailers</span>
                        <span class="label label-success">Hindi trailers</span>
                        <span class="label label-success">Telugu trailers</span>
                        <span class="label label-success">Kannada trailers</span>
                        <span class="label label-success">Malayalam trailers</span>
                        <span class="label label-success">Tamil trailers</span>
                        <span class="label label-success">teaser</span>
                        <span class="label label-success">first look</span>
                        <span class="label label-success">motion poster</span>
                        <span class="label label-success">theatrical trailer</span>

                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Stay connected</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="https://www.facebook.com/pages/Trailer-Monkeys/661020000668477?ref=profile" target="_blank"  class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>

							 <li>
                                <a href="https://twitter.com/trailerMonkeys" target="_blank"  class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <!--li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>

                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-dribbble"></i></a>
                            </li -->
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>About trailer monkeys</h3>
                        <p>One stop trailer shop for English, Hindi, Telugu, Tamil, Kannada and Malayalam movies</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
               <div class="row">
                  <div class="col-lg-12"><br>
                     Copyright &copy; trailermonkeys.com
                  </div>
               </div>
            </div>
         </div>
    </footer>
      <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
      <!-- jQuery -->
      <script src="../../../js/jquery.js"></script>
      <!-- Bootstrap Core JavaScript -->
      <script src="../../../js/bootstrap.min.js"></script>
      <!-- Plugin JavaScript -->
      <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
      <script src="../../../js/classie.js"></script>
      <script src="../../../js/cbpAnimatedHeader.js"></script>
      <!-- Contact Form JavaScript -->
      <script src="../../../js/jqBootstrapValidation.js"></script>
      <!-- Custom Theme JavaScript -->
      <script src="../../../js/freelancer.js"></script>
   </body>
   <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-61164933-1', 'auto');
      ga('send', 'pageview');

      $('.carousel').carousel({
          interval: 2000
        });

      $("[rel='tooltip']").tooltip();

      $('.thumbnail1').hover(
        function(){
            $(this).find('.caption1').slideDown(250); //.fadeIn(250)
        },
        function(){
            $(this).find('.caption1').slideUp(250); //.fadeOut(205)
        }
      );
      $("#q").keyup(function(event){
  if(event.which == 13){
    document.sentMessage.submit();
    }
});
   </script>
   <link href="../../../css/override.css" rel="stylesheet">
</html>
