
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>SuperFit Testimonial </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
        
  	<!-- Facebook and Twitter integration -->

	<meta property="og:image" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900' rel='stylesheet' type='text/css'>
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="../css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<!--link rel="stylesheet" href="../css/icomoon.css"-->
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="../css/bootstrap.css">
	<!-- Superfish -->
	<link rel="stylesheet" href="../css/superfish.css">

	
	

		<link rel="stylesheet" href="../css/owl.carousel.min.css">
		<link rel="stylesheet" href="../css/owl.theme.default.min.css">
		<link rel="stylesheet" href="../css/magnific-popup.css">
		<link rel="stylesheet" href="../css/owlstyle.css">
		<link rel="stylesheet" href="../css/style.css">
		
		

		
		<!-- Iconfonts -->
		<link rel="stylesheet" href="../css/themify-icons.css">
		

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-84825216-1', 'auto');
  ga('send', 'pageview');

</script>
	<!-- Modernizr JS -->
	<script src="../js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
		<div id="fh5co-wrapper">
		<div id="fh5co-page">
		<div id="fh5co-header">
			<header id="fh5co-header-section">
				<div class="container">
					<div class="nav-header">
						<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
						<h1 id="fh5co-logo"><a href="index.html">Super<span>Fit</span><p style="color:white"><span>BY </span>Rashid Chaudry</p></a></h1>
						<!-- START #fh5co-menu-wrap -->
						<nav id="fh5co-menu-wrap" role="navigation">
							<ul class="sf-menu" id="fh5co-primary-menu">
								<li>
									<a href="/">Home</a>
								</li>
								<!--li>
									<a href="classes.html" class="fh5co-sub-ddown">Classes</a>
									 <ul class="fh5co-sub-menu">
									 	<li><a href="left-sidebar.html">Web Development</a></li>
									 	<li><a href="right-sidebar.html">Branding &amp; Identity</a></li>
										<li>
											<a href="#" class="fh5co-sub-ddown">Free HTML5</a>
											<ul class="fh5co-sub-menu">
												<li><a href="http://freehtml5.co/preview/?item=build-free-html5-bootstrap-template" target="_blank">Build</a></li>
												<li><a href="http://freehtml5.co/preview/?item=work-free-html5-template-bootstrap" target="_blank">Work</a></li>
												<li><a href="http://freehtml5.co/preview/?item=light-free-html5-template-bootstrap" target="_blank">Light</a></li>
												<li><a href="http://freehtml5.co/preview/?item=relic-free-html5-template-using-bootstrap" target="_blank">Relic</a></li>
												<li><a href="http://freehtml5.co/preview/?item=display-free-html5-template-using-bootstrap" target="_blank">Display</a></li>
												<li><a href="http://freehtml5.co/preview/?item=sprint-free-html5-template-bootstrap" target="_blank">Sprint</a></li>
											</ul>
										</li>
										<li><a href="#">UI Animation</a></li>
										<li><a href="#">Copywriting</a></li>
										<li><a href="#">Photography</a></li> 
									</ul>
								</li>
								<li>
									<a href="schedule.html">Schedule</a>
								</li>
								<li><a href="trainer.html">Trainers</a></li-->
								<li class="active"><a href="/testimonials">Testimonials</a></li>
								<li><a href="/trainer-videos">Training Videos</a></li>
								
							<li><a href="/about">About</a></li>
								<!--li><a href="views/contact.html">Contact</a></li-->
								<li><a href="/contact">Contact</a></li>
								<li><a href="/subscribe">Subscribe</a></li>
								<li><a href="/promotions">Promotions</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</header>		
		</div>
		<!-- end:fh5co-header -->
		<div class="fh5co-parallax" style="background-image: url(../images/home-image-4.jpg);" data-stellar-background-ratio="0.5">
			<div class="overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
						<div class="fh5co-intro fh5co-table-cell animate-box">
							<h1 class="text-center">Testimonials</h1>
							<p>Super Fit By Rashid Chaudry</p>
						</div>
					</div>
				</div>
			</div>
		</div--><!-- end: fh5co-parallax -->
		<!-- end:fh5co-hero -->
		
		<!--section class="fh5co-section" id="fh5co-testimonial">
					<i class="ti-quote-left quote-icon"></i>
					<div class="container">
						<div class="owl-carousel-fullwidth">
							<div class="item">
								<p class="text-center quote">Design must be functional and functionality must be translated into visual aesthetics, without any reliance on gimmicks that have to be explained. <cite class="author">&mdash; Ferdinand A. Porsche</cite></p>
							</div>
							<div class="item">
								<p class="text-center quote">Creativity is just connecting things. When you ask creative people how they did something, they feel a little guilty because they didn’t really do it, they just saw something. It seemed obvious to them after a while. <cite class="author">&mdash; Steve Jobs</cite></p>
							</div>
							<div class="item">
								<p class="text-center quote">I think design would be better if designers were much more skeptical about its applications. If you believe in the potency of your craft, where you choose to dole it out is not something to take lightly.<cite class="author">&mdash; Frank Chimero</cite></p>
							</div>
						</div>
					</div>
				</section-->
		
				<div class="container" id="fh5co-journal">
					<div class="row">
					<div class="col-md-2">
					</div>
						<div class="col-md-10">
						
						
							<div class="fh5co-heading text-center">
									<!--h2 class="fh5co-heading-title">Our Journal <span class="border"></span></h2>
									<h3 class="fh5co-heading-intro">Design is the creation of a plan or convention for the construction of an object or a system as in architectural blueprints, engineering drawings, business processes, circuit diagrams and sewing patterns.</h3-->
									
									<div class="text-xs-center" >
								
  <img src="../images/beforeafter.jpg" class="img-thumbnail" style: "height:50px;width=100%\9" alt="...">
</div>
									
									
								</div>
						</div>
					</div>
					<!-- END .row -->

					<!--div class="row">
						<div class="owl-carousel-posts">
							<div class="item">
								<div class="fh5co-image-text">
									<a href="#" class="fh5co-block-links hover-img">
										<figure>
											<img src="../images/beforeafter.jpg" alt="Post Title" class="img-responsive">
											<div class="dark-overlay"></div>
										</figure>
										<h2 class="meta-after">My New Minimal Workspace </h2>
										<span class="meta text-after">Dec. 1, 2014</span>
										<p>Design is the creation of a plan or convention for the construction of an object or a system as in architectural blueprints</p>
										<p><span class="learn-more">Read more</span></p>
									</a>
								</div>
							</div>
							
							
							
							
							
							
							
							

						</div>
					</div-->
					<!-- END .row -->
					
				</div>
		
		
		<div id="fh5co-team-section">
		
				<div class="container content">
		 
    <div class="row">
	
 {{#testimonials}}
        <div class="col-md-3">
            <div class="testimonials">
            	<div class="active item">
                  <blockquote><p>{{review}}</p></blockquote>
                  <div class="carousel-info">
                    <!--img alt="" src="http://keenthemes.com/assets/bootsnipp/img1-small.jpg" class="pull-left"-->
                    <div class="pull-left">
                      <span class="testimonials-name">-{{fname}} {{lname}}</span>
                      <!--span class="testimonials-post">Commercial Director</span-->
                    </div>
                  </div>
                </div>
            </div>
        </div>
	 {{/testimonials}}	
	 
	  <!--div class="col-md-3">
            <div class="testimonials">
            	<div class="active item">
                  <blockquote><p>I feel very fortunate for having found Super Fit. I was in search of a work-out regimen that I would stay committed to in order to look and feel my absolute best. Rashid has done a fabulous job. Not only has he created a personalized routine for me, but his experience and encouragement motivates me to push myself to the maximum extent possible. I have worked with many trainers at different gyms throughout the area; there is no personal trainer like Rashid. </p></blockquote>
                  <div class="carousel-info">
                    <!--img alt="" src="http://keenthemes.com/assets/bootsnipp/img1-small.jpg" class="pull-left">
                    <div class="pull-left">
                      <span class="testimonials-name">- Sue C.</span>
                      <!--span class="testimonials-post">Commercial Director</span=>
                    </div>
                  </div>
                </div>
            </div>
        </div -->
		  
		<!--div class="col-md-3">
            <div class="testimonials">
            	<div class="active item">
                  <blockquote><p>I've been working with Rashid for 3 months and have seen amazing results in that time. I have never felt stronger or healthier. Rashid is passionate about fitness and it shows through the energy and enthusiasm he brings to every session. His easy going, friendly personality creates a relaxed, comfortable atmosphere. He makes each workout challenging, creative and most importantly, fun! He also places a high value on correct form with each exercise. He motivates me to push past my perceived limits.</p></blockquote>
                  <div class="carousel-info">
                    <!--img alt="" src="http://keenthemes.com/assets/bootsnipp/img1-small.jpg" class="pull-left">
                    <div class="pull-left">
                      <span class="testimonials-name">Maggie DeBono</span>
                      <!--span class="testimonials-post">Commercial Director</span>
                    </div>
                  </div>
                </div>
            </div>
        </div -->
		
		
		<!--div class="col-md-3">
            <div class="testimonials">
            	<div class="active item">
                  <blockquote><p>After only six weeks of training with Rashid, I have incredible energy, my balance and flexibility have improved immensely and I've got great new muscles. If you are serious about changing your life for the better, Rashid will lead you every step of the way.</p></blockquote>
                  <div class="carousel-info">
                    <!--img alt="" src="http://keenthemes.com/assets/bootsnipp/img1-small.jpg" class="pull-left">
                    <div class="pull-left">
                      <span class="testimonials-name">Michael Klein</span>
                      <!--span class="testimonials-post">Commercial Director</span>
                    </div>
                  </div>
                </div>
            </div>
        </div -->
		
</div>
	
	
</div>
</div>
				<div id="fh5co-programs-section">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<div class="heading-section text-center animate-box">
							<h2>Our Programs</h2>
							<p></p>
						</div>
					</div>
				</div>
				<div class="row text-center">
				
			<div class="col-md-4 col-sm-6">
					<div class="program animate-box">
							
                            <img src="images/fit-dumbell.svg" alt="Cycling">
                            <!--h3>Massage</h3-->
							<p>Strength Training</p>
							<span><a href="/contact" class="btn btn-default">Join Now</a></span>
						</div>
					
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="program animate-box">
                        
							
                            <img src="images/fit-cycling.svg" alt="">
                            <!--h3>Body Combat</h3-->
							<p>Cardiovascular Training</p>
							<span><a href="/contact" class="btn btn-default">Join Now</a></span>
						</div>
					</div>

					<div class="col-md-4 col-sm-6">
						<div class="program animate-box">
							
                            <img src="images/fit-boxing.svg" alt="Cycling">
							<!--h3>Fitness Assesment</h3-->
							<p>Sports specific Training</p>
							<span><a href="/contact" class="btn btn-default">Join Now</a></span>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="program animate-box">
							
                            <img src="images/fit-massage.svg" alt="">
                            <!-- h3>Fitness Assement</h3-->
							<p>Post Rehabilitation Therapy</p>
							<span><a href="/contact" class="btn btn-default">Join Now</a></span>
						</div>
					</div>
                    
                    
                    <div class="col-md-4 col-sm-6">
                    <div class="program animate-box">
                    
                    <img src="images/fit-cycling.svg" alt="">
                    <!-- h3>Fitness Assement</h3 -->
                    <p>Weight Loss</p>
                    <span><a href="/contact" class="btn btn-default">Join Now</a></span>
                    </div>
                    </div>
                    
                    <div class="col-md-4 col-sm-6">
                    <div class="program animate-box">
                    <img src="images/fit-boxing.svg" alt="Cycling">
                    <!-- h3>Fitness Assement</h3 -->
                    <p>Battle Rope / Kettle bell Conditioning</p>
                    <span><a href="/contact" class="btn btn-default">Join Now</a></span>
                    </div>
                    </div>
                    
                    <div class="col-md-4 col-sm-6">
                    <div class="program animate-box">
                    
                    <img src="images/fit-dumbell.svg" alt="Cycling">
                    <!-- h3>Fitness Assement</h3 -->
                    <p>Muscle Conditioning</p>
                    <span><a href="/contact" class="btn btn-default">Join Now</a></span>
                    </div>
                    </div>

				</div>
			
				
						
				
				
				
				
			</div>
		</div>
		<footer>
						<div id="footer">
				<div class="container">
					<div class="row">
						<div class="col-md-4 animate-box">
							<h3 class="section-title">About Us</h3>
							<p>Rashid Chaudry, includes top-notch service, better resutls, permanenet achievement of your weight loss (fat loss) goals, quicker results, and a pain-and injury-free method. Dont wait to hire the Michigan's BEST personal trainer, Rashid Chaudry. Call today!</p>
						</div>

						<div class="col-md-4 animate-box">
							<h3 class="section-title">Our Address</h3>
							<ul class="contact-info">
								<li><i class="icon-map-marker"></i>West Bloomfield</li>
								<li><i class="icon-phone"></i>+ 1248 496 2529</li>
								<li><i class="icon-envelope"></i><a href="#">rashidc@hotmail.com</a></li>
								<li><i class="icon-globe2"></i><a href="#">www.the-superfit.com</a></li>
							</ul>
						</div>
						<div class="col-md-4 animate-box">
						
						
						
						
							<class="section-title">
							<form class="contact-form" action="/subscribe">
							
							
								<!--div class="form-group">
									<label for="name" class="sr-only">Name</label>
									<input type="name" class="form-control" id="name" placeholder="Name">
								</div>
								<div class="form-group">
									<label for="email" class="sr-only">Email</label>
									<input type="email" class="form-control" id="email" placeholder="Email">
								</div>
								<div class="form-group">
									<label for="message" class="sr-only">Message</label>
									<textarea class="form-control" id="message" rows="7" placeholder="Message"></textarea>
								</div>
								<div class="form-group">
									
								</div-->
								<div class="form-group">
								<input type="submit" id="btn-submit" class="btn btn-send-message btn-md" value="Subscribe for News Letter">
									
								</div>
								
							</form>
						</div>
					</div>
					<div class="row copy-right">
						<div class="col-md-6 col-md-offset-3 text-center">
						<p class="fh5co-social-icons">
								<!--a href="#"><i class="icon-twitter2"></i></a-->
								<a href="https://www.facebook.com/Super-Fit-437229059622136/"  target="_blank" ><i class="icon-facebook2"></i></a>
								<!-- a href="#"><i class="icon-instagram"></i></a-->
								<!--a href="#"><i class="icon-dribbble2"></i></a-->
								<a href="https://www.youtube.com/channel/UCG7vl3IncjRSiLkhxtkB_4g"  target="_blank" ><i class="icon-youtube"></i></a>
							</p>
						<p>Copyright 2016 <br><a href="#">SuperFit By Rashid Chaudry</a>. <br> All Rights Reserved.</p>
						</div>
					</div>
				</div>
			</div>
		</footer>
	

	</div>
	<!-- END fh5co-page -->

	</div>
	<!-- END fh5co-wrapper -->

	<!-- jQuery -->


	<script src="../js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="../js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="../js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="../js/jquery.waypoints.min.js"></script>
	<!-- Stellar -->
	<script src="../js/jquery.stellar.min.js"></script>
	<!-- Superfish -->
	<script src="../js/hoverIntent.js"></script>
	<script src="../js/superfish.js"></script>
		<script src="../js/owl.carousel.min.js"></script>
		
		
		


		<script src="../js/modernizr-2.6.2.min.js"></script>

		<script src="../js/jquery.magnific-popup.min.js"></script>
		
		

	<!-- Main JS (Do not remove) -->
	<script src="../js/main.js"></script>
	
	<script src="../js/custom.js"></script>

	</body>
</html>

